<h1>Task Title:</h1>
<h2><%= @task.title %></h2>
<h1>Task Details:</h1>
<h2><%= @task.details %></h2>

<%= link_to "Edit task", edit_task_path(@task.id)%>

<%= link_to "Return to main page", tasks_path%>

<%= form_for(@task) do |f| %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
<% end %>
